body {
  font-family: Arial;
  background: #f0f0f0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}